

.card2{background-color: black;
color: white;
}
.card1{border-radius:30%;}


.card-titel{margin-top: -100px;}
.paragraf{margin-top: -23px;
    margin-left: 17px;}
    .paragraf2{margin-top: -23px;
        margin-left: 14px;}

        .btn-heart{
            margin-left: 150px;
        }